@{
    ViewBag.Title = "My";
}

<h2>My</h2>
<table>
    <tr>
        <td>
            <form method="post" action="/Home/Mys">
                <input type="submit" value="Давай данные с сайта!!!!"/>
            </form>
        </td>
    </tr>
    <tr>
        <td>
            Текст 2
        </td>
    </tr>
</table>

