@{
    ViewBag.Title = "My";
}

<h2>My</h2>
<table>
    <tr>
        <td>
            <form method="post" action="/Home/Mys">
                <input type="submit" value="Давай данные с сайта!!!!"/>
            </form>
        </td>
    </tr>
    <tr>
    </tr>
</table>
<table class="table">
    <tr><td>Свободные прокси сервера</td></tr>
    @foreach (var item in LibarySyte.ParseProxiServer.ParseProxiServer.ParseProxies())
    {
        <tr><td>@item.Address.Host</td><td>@item.Address.Port</td></tr>
    }
</table>

